* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #ffffff;
  color: #1e293b;
}

._button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  background-color: oklch(47.6% 0.114 61.907);
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-family: inherit;
  transition: 0.2s ease;
}

._button:hover {
  background-color: oklch(55.4% 0.135 66.442);
}

.app {
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo {
  display: flex;
  gap: 8px;
}

.header-logo__caption {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
}

.header-cart {
}

.header-cart img {
  width: 20px;
  height: 20px;
}

.products {
  padding: 64px 0;
}

.products-title {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.products-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 16px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  border-radius: 16px;
}

.card__title {
  flex: 1;
  margin-top: 8px;
  font-weight: 500;
  font-size: 18px;
}

.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.card__price {
  font-size: 24px;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 480px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
